#please{
    color: aqua;
    border: dotted;
    
    opacity: 0.5;
    margin: 15px;
    padding: 14px;
}
.blund{
    color: beige;
    background-color: black;
    
}
.fool{
 padding: 20px;   
}
/*body{
    color: black;
    background-image: url("/Week two/20220703_133719.jpg");

}*/
